<h1 class="jumbotron">About jsDerby</h1>
<p>
    The idea behind jsDerby is that scouts enjoy racing.  They want to race often and as much as they can.
</p>
<p>
    With jsDerby the scouts will compete in a double round-robin tournament.  They will race their
    car against every other car in their heat.  And, in order to eliminate any lane bias, they will
    race in each lane against every other car in their heat.
</p>
<p>
    For example, if there are 8 scouts in a heat, then each scout will race 14 times.  They will race
    in lane 1 against the other 7 cars (that's 7 races) and then in lane 2 against the other 7 cars (that's
    7 more races). That's much better than getting eliminated early in a single or double elimination tournament.
</p>
<p>
    The winner of the heat is determined by their overall number of wins.  The scout with the most wins
    comes in first, the next most, second, and so on.
</p>
<p>
    In the event of a tie, jsDerby will check the two scouts that are in the tie to see if one of the scouts
    won both races.  In the event that neither scout won both races a race-off will ensue.
</p>
<p>
    During a race-off the 2 scouts in the tie compete against each other.  The first scout to win in each lane
    is declared the winner.
</p>
