<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">toggle navigation</span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
      {{/link-to}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'race'}}New Race{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
{{outlet}}
</div>

<footer>
  <div class="container">
    <p class="text-center">
      Comments... Questions... Suggestions... Send me an email:
      <a href="mailto:fletcher@chamfam.net">fletcher@chamfam.net</a>
    </p>
    <p class="text-center">
      View on GitHub: <a href="https://github.com/chamfamdad/jsDerby">chamfamdad / jsDerby</a>
    </p>
  </div>
</footer>
