<div class="jumbotron">
  <h1 id="title">jsDerby</h1>
  <p>
    Pinewood Derby&reg; manager for 2 lane tracks without electronics, using a double round-robin style tournament.
  </p>
  <p>
    {{#link-to 'race' class="btn btn-default btn-success btn-lg" role="button"}}Let's go racing!{{/link-to}}
  </p>
</div>
